@model string   
@* HTML slides *@

<div class="row new-tech">
    <div class="col-12">
        <div class="body-carousel">
            <h3 class="text-center my-3 fw-bold" style="color:#046dbd;">
                <a href="cong-nghe-thiet-bi-2.html">CÔNG NGHỆ MỚI CẬP NHẬT</a>
            </h3>

            <div id="carouselTechCombined"
                 class="carousel slide over-flow"
                 data-bs-ride="carousel">

                <div class="carousel-inner">
                    @Html.Raw(Model)
                </div>

                <button class="carousel-control-prev"
                        type="button"
                        data-bs-target="#carouselTechCombined"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>

                <button class="carousel-control-next"
                        type="button"
                        data-bs-target="#carouselTechCombined"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>

            </div>
        </div>
    </div>
</div>
