<section class="yc-section">
    <div class="container">
        <div class="section section-lg bg-gray-100 text-center mh-100vh d-flex align-items-center position-relative parallax-scene">
            
            <div class="decor-6">
                <div class="layer" data-depth=".2">
                    <a href="https://sancongnghe.khcnpy.gov.vn/index.html" target="_blank">
                        <img class="image-1" src="~/image/logo-phuyen.png" title="sancongnghe.khcnpy.gov.vn" alt="Phú Yên">
                    </a>
                </div>
            </div>
            <div class="decor-7">
                <div class="layer" data-depth=".4">
                    <a href="https://sancongnghegialai.vn/index.html" target="_blank">
                        <img class="image-1" src="~/image/logo-gialai.png" title="sancongnghegialai.vn" alt="Gia Lai">
                    </a>
                </div>
            </div>
            <div class="decor-8">
                <div class="layer" data-depth=".3">
                    <a href="https://sgdcn.tayninh.gov.vn/index.html" target="_blank">
                        <img class="image-1" src="~/image/logo-tayninh-1.png" title="sgdcn.tayninh.gov.vn" alt="Tây Ninh">
                    </a>
                </div>
            </div>
            <div class="decor-9">
                <div class="layer" data-depth=".2">
                    <a href="https://techport.longan.vn/index.html" target="_blank">
                        <img class="image-1" src="~/image/logo-longan2.png" title="techport.longan.vn" alt="Long An">
                    </a>
                </div>
            </div>
            <div class="decor-10">
                <div class="layer" data-depth=".3">
                    <a href="https://techmart.skhcn.quangnam.gov.vn/index.html" target="_blank">
                        <img class="image-1" src="~/image/logo-quangnam.png" title="techmart.skhcn.quangnam.gov.vn" alt="Quảng Nam">
                    </a>
                </div>
            </div>
            <div class="decor-11">
                <div class="layer" data-depth=".4">
                    <a href="http://techport.binhphuoc.gov.vn/index.html" target="_blank">
                        <img class="image-1" src="~/image/logo-binhphuoc1.png" title="techport.binhphuoc.gov.vn" alt="Bình Phước">
                    </a>
                </div>
            </div>
            <div class="decor-12">
                <div class="layer" data-depth=".2">
                    <a href="https://techport.vn/index.html" target="_blank">
                        <img class="image-1" src="~/image/logo-techport1.png" title="techport.vn" alt="Techport">
                    </a>
                </div>
            </div>
            <div class="decor-13">
                <div class="layer" data-depth=".2">
                    <a href="https://dovetec.techinnovation.vn/index.html" target="_blank">
                        <img class="image-1" src="~/image/logo-dongthap4.png" title="dovetec.techinnovation.vn" alt="Đồng Tháp">
                    </a>
                </div>
            </div>
            <div class="container position-relative" style="z-index: 1;">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-7">    
                        <h2 class="wow fadeInUp" style="color: rgb(11, 119, 200); visibility: visible; animation-name: fadeInUp;">HỆ THỐNG <br/> SÀN GIAO DỊCH CÔNG NGHỆ</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
