<div class="text-center my-4">


    <div class="d-flex justify-content-center flex-wrap gap-4">

        <a href="~/cong-nghe-thiet-bi-2.html" 
             class="feature-box">
            <div class="feature-ring">
                <i class="bi bi-gear-fill"></i>
                <div class="feature-text">Công nghệ</div>
            </div>
        </a>

        <a href="~/dich-vu-tu-van-8.html" 
            class="feature-box">
            <div class="feature-ring">
                <i class="bi bi-chat-dots-fill"></i>
                <div class="feature-text">Tư vấn</div>
            </div>
        </a>

        <a href="~/tim-kiem-doi-tac-11.html" 
             class="feature-box">
            <div class="feature-ring">
                <i class="bi bi-diagram-3-fill"></i>
                <div class="feature-text">Dự án</div>
            </div>
        </a>

        <a href="~/yeu-cau-cong-nghe-67.html" 
             class="feature-box">
            <div class="feature-ring">
                <i class="bi bi-envelope-fill"></i>
                <div class="feature-text">Yêu cầu</div>
            </div>
        </a>

        <a href="https://techinnovation.vn/" class="feature-box" target="_blank">
            <div class="feature-ring">
                <i class="bi bi-globe2"></i>
                <div class="feature-text">Mạng lưới</div>
            </div>
        </a>

    </div>
</div>