<div class="container my-4">
    <div class="hp-floating-box">

        <h3 class="hp-search-title">
            Tìm kiếm, đầu tư đổi mới công nghệ và thiết bị
        </h3>

        <div class="hp-category-grid">

            <!-- Công nghệ -->
            <a href="~/cong-nghe-thiet-bi-2.html"
               class="hp-category-item">
                <img src="https://cdn-icons-png.flaticon.com/512/2082/2082608.png"
                     alt="Công nghệ"
                     class="hp-category-icon">
                <span class="hp-category-name">Công nghệ</span>
            </a>

            <!-- Tư vấn -->
            <a href="~/dich-vu-tu-van-8.html"
               class="hp-category-item">
                <img src="https://cdn-icons-png.flaticon.com/512/2726/2726058.png"
                     alt="Tư vấn"
                     class="hp-category-icon">
                <span class="hp-category-name">Tư vấn</span>
            </a>

            <!-- Dự án -->
            <a href="~/tim-kiem-doi-tac-11.html"
               class="hp-category-item">
                <img src="https://cdn-icons-png.flaticon.com/512/2312/2312217.png"
                     alt="Dự án"
                     class="hp-category-icon">
                <span class="hp-category-name">Dự án</span>
            </a>

            <!-- Yêu cầu -->
            <a href="~/yeu-cau-cong-nghe-67.html"
               class="hp-category-item">
                <img src="https://cdn-icons-png.flaticon.com/512/4149/4149666.png"
                     alt="Yêu cầu"
                     class="hp-category-icon">
                <span class="hp-category-name">Yêu cầu</span>
            </a>

            <!-- Mạng lưới -->
            @* <a href="https://techinnovation.vn/"
               target="_blank"
               class="hp-category-item">
                <img src="https://cdn-icons-png.flaticon.com/512/684/684908.png"
                     alt="Mạng lưới"
                     class="hp-category-icon">
                <span class="hp-category-name">Mạng lưới</span>
            </a> *@

        </div>
    </div>
</div>
