<div class="container my-4">
    <div class="hp-floating-box">

        <h3 class="hp-search-title">
            Tìm kiếm, đầu tư đổi mới công nghệ và thiết bị
        </h3>

        <div class="hp-category-grid">

            <!-- Công nghệ -->
            <a href="~/cong-nghe-thiet-bi-2.html"
               class="hp-category-item CNTB">
                <img src="~/image/CNTB.png"
                     alt="Công nghệ & Thiết bị"
                     class="hp-category-icon">
                <span class="hp-category-name">Công nghệ & Thiết bị</span>
                <p class="hp-category-item-desc">
                    Giải pháp công nghệ và thiết bị đang được chào bán
                </p>
                <input type="button" class="hp-category-item-button" value="tìm hiểu >>">
            </a>

            <!-- Dự án -->
            <a href="~/tim-kiem-doi-tac-11.html"
               class="hp-category-item DTDA">
                <img src="~/image/DTDA.png"
                     alt="Đối tác & Dự án"
                     class="hp-category-icon">
                <span class="hp-category-name">Đối tác & Dự án</span>
                <p class="hp-category-item-desc">
                    Thông tin đối tác và các dự án công nghệ liên quan
                </p>
                <input type="button" class="hp-category-item-button" value="tìm hiểu >>">
            </a>

            <!-- Yêu cầu -->
            <a href="~/yeu-cau-cong-nghe-67.html"
               class="hp-category-item YCCN">
                <img src="/image//YCCN.png"
                     alt="Yêu cầu công nghệ"
                     class="hp-category-icon">
                <span class="hp-category-name">Yêu cầu công nghệ</span>
                <p class="hp-category-item-desc">
                    Trao đổi, chia sẻ, tư vấn các vấn đề về công nghệ
                </p>
                <input type="button" class="hp-category-item-button" value="tìm hiểu >>">
            </a>
            <!-- Tư vấn -->
            <a href="~/dich-vu-tu-van-8.html"
               class="hp-category-item DVTV">
                <img src="~/image/DVTV.png"
                     alt="Dịch vụ tư vấn"
                     class="hp-category-icon">
                <span class="hp-category-name">Dịch vụ tư vấn</span>
                <p class="hp-category-item-desc">
                    Tư vấn, hỗ trợ kết nối và chuyển giao công nghệ
                </p>
                <input type="button" class="hp-category-item-button" value="tìm hiểu >>">
            </a>


           

            <!-- Mạng lưới -->
            @* <a href="https://techinnovation.vn/"
               target="_blank"
               class="hp-category-item">
                <img src="https://cdn-icons-png.flaticon.com/512/684/684908.png"
                     alt="Mạng lưới"
                     class="hp-category-icon">
                <span class="hp-category-name">Mạng lưới</span>
            </a> *@

        </div>
    </div>
</div>
