<div class="container my-4">
    <div class="hp-floating-box">

        <h3 class="hp-search-title">
            Tìm kiếm, đầu tư đổi mới công nghệ và thiết bị
        </h3>

        <div class="hp-category-grid">

            <!-- Công nghệ Thiết bị -->
            <a href="~/cong-nghe-thiet-bi-2.html"
               class="hp-category-item CNTB">
                <img src="~/image/CNTB.png"
                     alt="Công nghệ Thiết bị"
                     class="hp-category-icon">
                <span class="hp-category-name">Công nghệ Thiết bị</span>
                <p class="hp-category-item-desc">
                    Giải pháp công nghệ và thiết bị đang được chào bán
                </p>
                <input type="button" class="hp-category-item-button" value="tìm hiểu >>">
            </a>

            <!-- Chuyên gia -->
            <a href="~/dich-vu-tu-van-8.html"
               class="hp-category-item DTDA">
                <img src="~/image/DTDA.png"
                     alt="Chuyên gia"
                     class="hp-category-icon">
                <span class="hp-category-name">Chuyên gia</span>
                <p class="hp-category-item-desc">
                    Thông tin chuyên gia và các dự án công nghệ liên quan
                </p>
                <input type="button" class="hp-category-item-button" value="tìm hiểu >>">
            </a>

            <!-- Nhà cung ứng -->
            <a href="~/dich-vu-tu-van-8.html"
               class="hp-category-item YCCN">
                <img src="/image/YCCN.png"
                     alt="Nhà cung ứng"
                     class="hp-category-icon">
                <span class="hp-category-name">Nhà cung ứng</span>
                <p class="hp-category-item-desc">
                    Thông tin nhà cung ứng công nghệ và thiết bị
                </p>
                <input type="button" class="hp-category-item-button" value="tìm hiểu >>">
            </a>
            <!-- Tài sản trí tuệ -->
            <a href="#"
               class="hp-category-item DVTV">
                <img src="~/image/DVTV.png"
                     alt="Tài sản trí tuệ"
                     class="hp-category-icon">
                <span class="hp-category-name">Tài sản trí tuệ</span>
                <p class="hp-category-item-desc">
                    Thông tin về bằng sáng chế và tài sản trí tuệ
                </p>
                <input type="button" class="hp-category-item-button" value="tìm hiểu >>">
            </a>




            <!-- Mạng lưới -->
            @*       <a href="https://techinnovation.vn/"
               target="_blank"
               class="hp-category-item">
                <img src="https://cdn-icons-png.flaticon.com/512/684/684908.png"
                     alt="Mạng lưới"
                     class="hp-category-icon">
                <span class="hp-category-name">Mạng lưới</span>
            </a>  *@

        </div>
    </div>
</div>
