<section class="hero-section" style="margin-top:0;">
    <div class=" container">
        <div id="heroCarousel"
             class="carousel slide carousel-fade"
             data-bs-ride="carousel"
             data-bs-interval="3000">

            <div class="carousel-inner">

                <!-- Slide 1 -->
                <div class="carousel-item active hero-slide"
                     style="background-image:url('../../image/hero1.png')">

                    <div class="hero-content">
                        <h1>Sàn giao dịch công nghệ TP.HCM</h1>

                        <p>
                            Nền tảng tiên phong số hóa thị trường khoa học công nghệ, kết nối mạng lưới chuyên gia và doanh nghiệp toàn cầu; thúc đẩy giao dịch thực, ký kết điện tử an toàn nhằm hiện thực hóa giải pháp đổi mới sáng tạo, nâng tầm năng lực cạnh tranh
                        </p>

                        <a href="/cong-nghe-thiet-bi-2.html"
                           class="btn btn-primary hero-btn">
                            Khám phá công nghệ <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item hero-slide"
                     style="background-image:url('../../image/hero3.png')">
                    <div class="hero-content">
                        <h1>Sàn giao dịch công nghệ TP.HCM</h1>
                        <p>
                            Nền tảng tiên phong số hóa thị trường khoa học công nghệ, kết nối mạng lưới chuyên gia và doanh nghiệp toàn cầu; thúc đẩy giao dịch thực, ký kết điện tử an toàn nhằm hiện thực hóa giải pháp đổi mới sáng tạo, nâng tầm năng lực cạnh tranh
                        </p>
                        <a href="/cong-nghe-thiet-bi-2.html" class="btn btn-primary hero-btn">
                            Khám phá công nghệ <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>

                <!-- Slide 3 -->
                <div class="carousel-item hero-slide"
                     style="background-image:url('../../image/hero2.png')">
                    <div class="hero-content">
                        <h1>Sàn giao dịch công nghệ TP.HCM</h1>
                        <p>
                            Nền tảng tiên phong số hóa thị trường khoa học công nghệ, kết nối mạng lưới chuyên gia và doanh nghiệp toàn cầu; thúc đẩy giao dịch thực, ký kết điện tử an toàn nhằm hiện thực hóa giải pháp đổi mới sáng tạo, nâng tầm năng lực cạnh tranh
                        </p>
                        <a href="/cong-nghe-thiet-bi-2.html" class="btn btn-primary hero-btn">
                            Khám phá công nghệ <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>

                <!-- Slide 4 -->
                <div class="carousel-item hero-slide"
                     style="background-image:url('../..../../image/hero4.png')">
                    <div class="hero-content">
                        <h1>Sàn giao dịch công nghệ TP.HCM</h1>
                        <p>
                            Nền tảng tiên phong số hóa thị trường khoa học công nghệ, kết nối mạng lưới chuyên gia và doanh nghiệp toàn cầu; thúc đẩy giao dịch thực, ký kết điện tử an toàn nhằm hiện thực hóa giải pháp đổi mới sáng tạo, nâng tầm năng lực cạnh tranh
                        </p>
                        <a href="/cong-nghe-thiet-bi-2.html" class="btn btn-primary hero-btn">
                            Khám phá công nghệ <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>

            </div>

            <!-- Indicators -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#heroCarousel"
                        data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#heroCarousel"
                        data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#heroCarousel"
                        data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#heroCarousel"
                        data-bs-slide-to="3"></button>
            </div>

        </div>
    </div>
</section>
