<section class="container">
    <div class="hp-hero-section">
        <div class="row align-items-center">
            <div class="col-lg-8 hp-hero-content">
                <h1>Cổng thông tin Đổi mới sáng tạo<br>và Chuyển giao công nghệ</h1>
                <p>Hệ thống nền tảng công nghệ toàn diện giúp kết nối cung cầu, thúc đẩy đổi mới sáng tạo và phát triển các giải pháp công nghệ số thiết thực.</p>
                <a href="#" class="hp-hero-btn">Xem chi tiết ngay <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>



