<section class="hero-section" style="margin-top:0;">
    <div class=" container">
        <div id="heroCarousel"
             class="carousel slide carousel-fade"
             data-bs-ride="carousel"
             data-bs-interval="3000">

            <div class="carousel-inner">

                <!-- Slide 1 -->
                <div class="carousel-item active hero-slide"
                     style="background-image:url('../../image/hero1.png')">

                    <div class="hero-content">
                        <h1>Sàn giao dịch công nghệ TP.HCM</h1>

                        <p>
                            Kết nối công nghệ – Giao dịch minh bạch – Phát triển bền vững
                        </p>

                        <a href="/cong-nghe.html"
                           class="btn btn-primary hero-btn">
                            Khám phá công nghệ <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item hero-slide hero-slide-2"
                     style="background-image:url('../../image/hero5.jpg')">
                    <div class="hero-content">
                        <h1>Sự kiện ra mắt Sàn giao dịch công nghệ giai đoạn mới</h1>
                        <p>
                            Cột mốc đột phá thúc đẩy giao dịch công nghệ, quy tụ mạng lưới đối tác chiến lược cùng cộng đồng chuyên gia để kiến tạo hệ sinh thái đổi mới sáng tạo chuyển giao công nghệ.

                        </p>
                        <a href="/cong-nghe.html" class="btn btn-primary hero-btn">
                            Thông tin chi tiết <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>

                <!-- Slide 3 -->
                <div class="carousel-item hero-slide"
                     style="background-image:url('../../image/hero1.png')">
                    <div class="hero-content">
                        <h1>Sàn giao dịch công nghệ TP.HCM</h1>
                        <p>
                            Kết nối công nghệ – Giao dịch minh bạch – Phát triển bền vững
                        </p>
                        <a href="/cong-nghe.html" class="btn btn-primary hero-btn">
                            Khám phá công nghệ <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>

                <!-- Slide 4 -->
                <div class="carousel-item hero-slide hero-slide-2 "
                     style="background-image:url('../..../../image/hero5.jpg')">
                    <div class="hero-content">
                        <h1>Sự kiện ra mắt Sàn giao dịch công nghệ giai đoạn mới</h1>
                        <p>
                            Cột mốc đột phá thúc đẩy giao dịch công nghệ, quy tụ mạng lưới đối tác chiến lược cùng cộng đồng chuyên gia để kiến tạo hệ sinh thái đổi mới sáng tạo chuyển giao công nghệ.

                        </p>
                        <a href="/thiet-bi.html" class="btn btn-primary hero-btn">
                            Thông tin chi tiết <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>

            </div>

            <!-- Indicators -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#heroCarousel"
                        data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#heroCarousel"
                        data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#heroCarousel"
                        data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#heroCarousel"
                        data-bs-slide-to="3"></button>
            </div>

        </div>
    </div>
</section>
