<section class="hero-section" style="margin-top:0;">
    <div class=" container">
        <div id="heroCarousel"
             class="carousel slide carousel-fade"
             data-bs-ride="carousel"
             data-bs-interval="3000">

            <div class="carousel-inner">

                <!-- Slide 1 -->
                <div class="carousel-item active hero-slide"
                     style="background-image:url('../../image/hero1.png')">

                    <div class="hero-content">
                        <h1>Sàn giao dịch công nghệ TP.HCM</h1>

                        <p>
                            Kết nối công nghệ – Giao dịch minh bạch – Phát triển bền vững
                        </p>

                        <a href="/cong-nghe.html"
                           class="btn btn-primary hero-btn">
                            Khám phá công nghệ <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item hero-slide hero-slide-2"
                     style="background-image:url('../../image/hero2u.jpg')">
                    <div class="hero-content">
                        <h1>Sự kiện ra mắt Sàn giao dịch công nghệ giai đoạn mới</h1>
                        <p>
                            Cột mốc đột phá thúc đẩy giao dịch công nghệ, quy tụ mạng lưới đối tác chiến lược cùng cộng đồng chuyên gia để kiến tạo hệ sinh thái đổi mới sáng tạo chuyển giao công nghệ.

                        </p>
                        <a href="/cong-nghe.html" class="btn btn-primary hero-btn">
                            Thông tin chi tiết <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>

                <!-- Slide 3 -->
                <div class="carousel-item hero-slide  hero-slide-2"
                     style="background-image:url('../../image/hero3u.jpg')">
                    <div class="hero-content">
                        <h1>Hướng tới hệ sinh thái giao dịch thực chất</h1>
                        <p>
                            Hình thành hạ tầng kết nối giúp công nghệ được giao dịch và thương mại hóa hiệu quả hơn
                        </p>
                        <a href="https://techport.vn/44/tp-hcm-khoi-dong-san-giao-dich-cong-nghe-giai-doan-moi-huong-toi-he-sinh-thai-giao-dich-thuc-chat-117075.html" class="btn btn-primary hero-btn">
                            Thông tin chi tiết <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>

                <!-- Slide 4 -->
                <div class="carousel-item hero-slide hero-slide-2 "
                     style="background-image:url('../..../../image/hero4u.jpg')">
                    <div class="hero-content">
                        <h1>Đội ngũ tư vấn chiến lược</h1>
                        <p>
                            Các doanh nghiệp, tổ chức nghề nghiệp, đơn vị tư vấn giữ vai trò then chốt trong quá trình chuẩn hóa nhu cầu, thẩm định giải pháp, hoàn thiện phương án thương mại hóa và hỗ trợ đàm phán, ký kết hợp đồng.
                        </p>
                        <a href="https://cesti.gov.vn/bai-viet/CTDS1/tphcm-xay-dung-doi-ngu-tu-van-chien-luoc-cho-san-giao-dich-cong-nghe-giai-doan-moi-8b684698-c389-4212-a997-77e341fbad4e" class="btn btn-primary hero-btn">
                            Thông tin chi tiết <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>

            </div>

            <!-- Indicators -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#heroCarousel"
                        data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#heroCarousel"
                        data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#heroCarousel"
                        data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#heroCarousel"
                        data-bs-slide-to="3"></button>
            </div>

        </div>
    </div>
</section>
