<section class="container">
    <div class="hp-hero-section">
        <div class="row align-items-center">
            <div class="col-lg-10 hp-hero-content">
                <h1>Cổng thông tin Đổi mới sáng tạo<br>và Chuyển giao công nghệ</h1>
                <p>Mục tiêu của Hệ thống nhằm tạo môi trường giao dịch, tìm kiếm đối tác thuận lợi trên mạng Internet, với sự tham gia của các bên cung - cầu công nghệ và các tổ chức dịch vụ trung gian.</p>
                <a href="~/cong-nghe-thiet-bi-2.html" class="hp-hero-btn">Khám phá công nghệ <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>



