@{
    ViewData["Title"] = "Home Page";
}

@model TPApp.ViewModel.HomeViewModel

<div class="home-page-container">
    @await Html.PartialAsync("_TopBigBanner")
    @await Html.PartialAsync("_MainIcon")


    <div class="container">
        @await Html.PartialAsync(
        "_CongNgheMoiCapNhat",
                (IEnumerable<TPApp.Entities.SanPhamCNTB>)ViewBag.NewTech
                )

    </div>

    @* VideoCongNghe *@
    @await Html.PartialAsync("_VideoCongNghe", Model.VideoCongNghe)

    @* YeuCauCongNghe *@
    @await Html.PartialAsync("_YeuCauCongNghe", Model.YeuCauCongNghe)

    @* TinSuKien *@
    @await Html.PartialAsync("_TinSuKien", Model.TinSuKien)
</div>